*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center
}

/* Para computadores */
@media(min-width:768px){
  body{
    background-color: steelblue;
  }
h1{
  font-size: 50px;
  color: darkmagenta;
  font-weight: bold;
}
  p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  a{
    display: inline-block;
    font-size: 54px;
    margin: 6px;
    margin-left: 18px;
    color: rgb(3, 32, 77);
    text-decoration: none;
    font-weight: bold;
  }
}

/* Para tablets */
@media (max-width:992px){
  body{
    background-color: darkgoldenrod;
  }
  h1{
    font-size: 40px;
    color: darkcyan;
  }
  p{
    font-size: 20px;
    color: rgb(3, 54, 26);
  }
  a{
    font-size: 32px;
    color: darkgreen;
  }
}

/* Para telefonos */
@media (max-width:480px){
  body{
    background-color: indianred;
  }
  h1{
    color: white;
    font-weight: bold;
    font-style: italic;
  }
  p{
    font-weight: bold;
    font-size: 22px;
  }
  a{
    text-decoration: none;
    color: rgb(80, 11, 145);
    font-size: 29px;
    margin: 10px 16px;;
  }
  nav{
    margin-top: 10px;
  }
}

